@import url(./reset.css);

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color: rgb(47, 83, 129);
  color: white;
}

.hidden {
  display: none;
}

.info {
  text-align: center;
  margin-bottom: 20px;
  width: min-content;
  button {
    margin-top: 10px;
  }
}

.container {
  display: grid;
  grid-template-rows: min-content 2fr;
  grid-template-columns: 1fr;
  justify-items: center;
}
