@import url(./reset.css);

body {
  font-size: 1.6rem;
  height: 100vh;
}

.info {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-rows: min-content 2fr;
}

.table-display {
  justify-self: center;
}
